<article class="dchart-progressbar-widget" ng-class="{hasIcon: iconClass, type1 : widgetType == 'type1', type2: widgetType != 'type1'}">
   <div class="dchart-progressbar-icon-wrapper" ng-if="iconClass">
       <i class="icon {{iconClass}}"></i>
   </div>
    <div class="dchart-progressbar-widget-block-wrapper">
        <div class="inner">
            <h1 class="dchart-progressbar-widget-title">{{title}}</h1>
            <div ng-if="!(widgetType == 'type1')" class="dchart-progressbar-widget-value">{{value | number: 0}}%</div>
            <div class="dchart-progressbar-widget-box">
                <div ng-if="widgetType == 'type1'" class="dchart-progressbar-widget-value">{{value | number: 0}}%</div>
                <div class="dchart-progressbar-meter-wrapper">
                    <dchart-progressbar data-dchart-theme="{{theme}}" data-dchart-value="value"></dchart-progressbar>
                </div>
            </div>
        </div>
    </div>
</article>