/*generic stylesheet*/
*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;color: #666;font-size: 14px;}
svg{display: block;}
/*-----------------------------------------*/
.row{margin: 0 -30px;}
.col-md-6{float: left;width: 50%;padding: 0 30px;}
.wrapper{overflow: hidden;}
.form_generic{padding: 10px 10px 19px;border-bottom: 1px solid  #ddd;margin-bottom: 20px;}

/*-----------------------------------------*/

/*-----------------------------------------*/
.row:after{content: '.';display: block;visibility: hidden;clear: both;height: 0;}