/*---------------------------------*/
/*progressbar*/
.dchart-progressbar{height: 5px;background: #eee;}
.dchart-progressbar .dchart-progressbar-meter{float: left;height: 5px;-webkit-transition: .3s;transition: .3s;}
.dchart-progressbar.theme-red .dchart-progressbar-meter{background: red;}
.dchart-progressbar.theme-green .dchart-progressbar-meter{background: green;}
.dchart-progressbar.theme-blue .dchart-progressbar-meter{background: blue;}
.dchart-progressbar.theme-default .dchart-progressbar-meter{background: #666;}

/*---------------------------------*/
/*progressbar widget*/
.dchart-progressbar-widget{clear: both;}
.dchart-progressbar-widget-title{float: left;clear: both;}
.dchart-progressbar-widget-box{clear: both;}
.dchart-progressbar-meter-wrapper{margin-right: 50px;padding-top: 5px;}
.dchart-progressbar-widget-value{float: right;}

.dchart-progressbar-widget.hasIcon{}
.dchart-progressbar-widget.hasIcon .dchart-progressbar-icon-wrapper{float: left;}
.dchart-progressbar-widget.hasIcon .dchart-progressbar-widget-block-wrapper{margin-left: 50px;}
.dchart-progressbar-widget-block-wrapper > .inner{float: left;width: 100%;}
.dchart-progressbar-icon-wrapper .icon{width: 20px;height: 20px;display: block;float: left;background: #000;margin: 10px 0 0 10px;}

.dchart-progressbar-widget.type2 .dchart-progressbar-meter-wrapper{margin-right: 0;}

/*---------------------------------*/
.dchart-radialguage{display: table;position: relative;}
.dchart-radialguage-label{position: absolute;width: 100%;text-align: center;top: 50%;margin-top: -8px;}

.dchart-radialguage-theme-default .dchart-radialguage-bgarc{fill: #ddd;}
.dchart-radialguage-theme-default .dchart-radialguage-valarc{fill: #666;shape-rendering: geometricPrecision;}

/*---------------------------------*/
.dchart-radialguage-widget{text-align: center;}
.dchart-radialguage-widget .dchart-radialguage{margin: auto;}

/*---------------------------------*/
.dchart-angularguage-theme-default{}
.dchart-angularguage-theme-default .dchart-angularguage-bgarc{fill: #ddd;}

/*---------------------------------*/
.dchart-angularguage-widget.type1 .dchart-angularguage svg{display: table;margin: auto;}
.dchart-angularguage-widget.type1 .dchart-angularguage-widget-info{text-align: center;}

.dchart-angularguage-widget.type2 .dchart-angularguage-widget-graph-wrapper{float: left;}
.dchart-angularguage-widget.type2 .dchart-angularguage-widget-info{overflow: hidden;}

/*---------------------------------*/
.dchart-donutchart-wrapper{position: relative;}
.dchart-donutchart-info-wrapper{position: absolute;left: 0;top: 0;border-radius: 50%;overflow: hidden;text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.donutchart-info-text{width: 100%;}
/*---------------------------------*/
.dchart-progressbar:after,.dchart-progressbar-widget:after,.dchart-progressbar-widget-block-wrapper:after{content: '.';display: block;clear: both;visibility: hidden;height: 0;}