<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>dChart Sample</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="js/dchart/common/dchart.css">
    </head>
    <body>
        <div class="wrapper">
            <div data-ng-controller="MainController as app">
                <form class="form_generic">
                    <label><input type="text" ng-model="app.actualValue">: Actual value</label>
                    <label><input type="text" ng-model="app.totalValue">: Total value</label>
                </form>
                <div class="row">
                    <div class="col-md-4">
                        <dchart-progressbar-widget
                                                   data-dchart-value="{{app.percentValue}}"
                                                   data-dchart-theme="red"
                                                   data-dchart-title="Training 2"
                                                   data-dchart-type="typse1"
                                                   data-dchart-iconclass="my-icon-class">
                        </dchart-progressbar-widget>
                    </div>
                    <div class="col-md-4">
                        <dchart-radialguage-widget
                                                   data-dchart-value="{{app.actualValue}}"
                                                   data-dchart-total="{{app.totalValue}}"
                                                   data-dchart-title="Training2"
                                                   data-dchart-size="90"
                                                   data-dchart-theme="reclass">
                        </dchart-radialguage-widget>
                    </div>
                    <div class="col-md-4">
                        <dchart-angularguage-widget
                                                    data-dchart-value="{{app.actualValue}}"
                                                    data-dchart-title="Overall Delight"
                                                    data-dchart-size="100"
                                                    data-dchart-type="type1"
                                                    data-dchart-theme="dchart-angularguage-theme-default"
                                                    data-dchart-animspeed="300">
                        </dchart-angularguage-widget>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <form name="formData" ng-submit="app.formDataSubmit()">
                            <label>Data Object:<br><textarea ng-model="app.dataString" cols="30" rows="10"></textarea></label>
                            <label><input type="text" ng-model="app.ratingValue">: Star Rating</label>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <dchart-donutchart-widget
                                                  data-dchart-data="app.data"
                                                  data-dchart-radius-outer="70"
                                                  data-dchart-radius-inner="45"
                                                  data-dchart-animspeed="300">
                        </dchart-donutchart-widget>
                    </div>
                    <div class="col-md-4">
                        <dchart-star-rating-widget
                                                   data-dchart-value="{{app.ratingValue}}"
                                                   data-dchart-title="Viewers"
                                                   data-dchart-count="1000"
                                                   data-dchart-type="type1">
                        </dchart-star-rating-widget>
                    </div>
                </div>
            </div>
        </div>
        <div class="scripts">
            <!--load all libraries-->
            <script src="js/libs/angular.min.js"></script>
            <script src="js/libs/d3.min.js"></script>

            <!--load all dependencies-->
            <script src="js/dchart/common/dchart.js"></script>
            <script src="js/dchart/common/dchart-utils.js"></script>
            <script src="js/dchart/common/dchart-d3-module.js"></script>
            <script src="js/dchart/dchart-progressbar/dchart-progressbar.js"></script>
            <script src="js/dchart/dchart-progressbar-widget/dchart-progressbar-widget.js"></script>
            <script src="js/dchart/dchart-radialguage/dchart-radialguage.js"></script>
            <script src="js/dchart/dchart-radialguage-widget/dchart-radialguage-widget.js"></script>
            <script src="js/dchart/dchart-angularguage/dchart-angularguage.js"></script>
            <script src="js/dchart/dchart-angularguage-widget/dchart-angularguage-widget.js"></script>
            <script src="js/dchart/dchart-donutchart/dchart-donutchart.js"></script>
            <script src="js/dchart/dchart-donutchart-widget/dchart-donutchart-widget.js"></script>
            <script src="js/dchart/dchart-star-rating/dchart-star-rating.js"></script>
            <script src="js/dchart/dchart-star-rating-widget/dchart-star-rating-widget.js"></script>

            <!--load app-->
            <script src="js/app.js"></script>
        </div>
    </body>
</html>